.money-table {
    margin: 1rem auto;
    color: #212427;
}

.money-table th {
    background-color: #ca945c;
    border: none;
}

.money-table td {
    border-top: 1px solid #e0e0e0;
}

table>thead th.align-right, table>tbody td.align-right {
    text-align: right;
    padding-right: 1rem; 
}

.small-width {
    width: 30px;
}